<h2>Add A Event</h2>

<form action="/events/creation" method="POST">

<p>Event</p>
<input type ="text" name="theName">

<p>Date</p>
<input type ="date" name="theDate">

<p>Time</p>
<input type ="time" name="theTime">

<p>Location</p>
<input type ="text" name="theLocation">

<p>Price</p>
<input type ="currency" name="thePrice">

<button>Add</button>

</form>