<h2>Login If You Belong. (If not, Sign Up.)</h2>

<form action="/user/login" method="POST">

<label>Your Stage Name (Username)</label>
<input type="text" name="theUsername">


<label>Magic Word (Password)</label>
<input type="text" name="thePassword">


<button>Submit</button>
</form>