<h2>Signup</h2>


<form action="/user/signup" method="POST">

  <label>Pick A Stage Name</label>
  <input type="text" name="theUsername">


  <label>Your Magic Word (Password)</label>
  <input type="text" name="thePassword">


<button>Submit</button>
</form>