<h4> Services Offered for ASD

</h4>


{{#each services}}

<a href="services/details/{{this._id}}">

<h2>{{this.name}}</h2>

</a>
<form action= "/services/edit/{{this._id}}" method = "POST">
<button>Edit this Service</button> 
</form>


<form action= "/services/delete/{{this._id}}" method = "POST">
<button>Delete this Service</button>
</form>

<br>

{{!-- </form> --}}



{{/each}}

<br>

<a href = "/services/create-new-service">Click Here To Create New Service</a>