<h1> Welcome to Service Details Page</h1>
<p>Name</p>

<h2>{{theService.name}}</h2>

<p>Occupation</p>
<h3>{{theService.occupation}}</h3>

<P>Catch Phrase</P>
<h3>{{theService.catchPhrase}}</h3>

{{!-- <p>Provider</p> --}}
<h3>{{theService.provider}}</h3>

<a href = "/services">Back to the services page</a>