<h1> Welcome to Service Details Page</h1>
<p>Name</p>

<h2>{{theService.name}}</h2>



<P>Description</P>
<h3>{{theService.description}}</h3>

{{!-- <p>Provider</p> --}}
<h3>{{theService.provider}}</h3>

<a href = "/services">Back to the services page</a>