
<h2>Add a Service</h2>

<form action="/services/creation" method="POST">

<div>
    <p>Name</p>
<input type = "text" name="theName">
<p>Occupation</p>
<input type= "text" name="theOccupation">
<p>catchPhrase</p>
<input type= "text" name="theCatchphrase">
<div><button>Save</button></div>

</form>
</div>

<br>


<br>

<div>
<a href = "/services">Back to the services page</a>

</div>




