<h2>Add A Provider</h2>

<form action="/providers/creation" method="POST">

<div>
    <p>Name</p>
<input type = "text" name="theName">

<p>Director</p>
<input type= "text" name="theDirector">

<p>Website</p>
<input type= "text" name="theWebsite">
<div><button>Save</button></div>

</form>