{{#each providers}}




<form action="/providers/delete/{{this._id}}" method="POST">
    <button>Delete This Provider</button>
</form>


<a href="/providers/editproviders/{{this._id}}">Edit This Provider</a>







{{/each}}